* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    background-image: url('https://cdn.dribbble.com/users/3496409/screenshots/7749099/media/e28f5b7f3756d12dddc8a57e0f559219.gif');
    background-size: cover;
    font-family: sans-serif;
    margin-top: 40px;
    height: 100vh;
    padding: 0;
    margin: 0;
}

table {
    border: 1px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 86%;
    margin: auto;
}

td,
th {
    border: 1px solid black !important;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.register-button{
 color:white;
 font-size: 24px;border:none;
 background-color: dodgerblue;
 font-weight: bold;
 border-radius: 10px;
 width:490px;
 padding: 10px;
 margin-top: 30px;
 margin-bottom: 30px;
}

@media screen and (max-width:630px){

    .register-button{
        width:270px;
    }
}